html {
  box-sizing: border-box;
}

*,*::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: hsl(212, 45%, 89%);
}

@font-face {
  font-family: 'Outfit';
  src: url(fonts/Outfit-Bold.ttf);
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'Outfit';
  src: url(fonts/Outfit-Regular.ttf);
  font-style: normal;
  font-weight: 400;
}

/* Mobile */

.attribution {
  font-family: 'Outfit';
  padding: 0 0 2rem;
  font-size: 1rem;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.container {
  width: min(85%, 550px);
  margin: 2rem auto;
  border-radius: 16px;
  background-color: white;
}

.heading {
  text-align: center;
  font-family: 'Outfit';
  font-weight: 700;
  color: hsl(218, 44%, 22%);
}

.qr-code {
  display: block;
  width: 98%;
  border-radius: 8px;
  margin: 0 auto;
}

.qr-code-container {
  padding: 1rem 1rem 0;
  width: 100%;
}

.text-container {
  width: 82%;
  margin: 0 auto;
  padding-bottom: 2rem;
}

.text-content {
  text-align: center;
  font-family: 'Outfit';
  font-weight: 400;
  font-size: 1.2rem;
  color: hsl(220, 15%, 55%)
}